
body {
  background-color: black;
  display block;
  text-align: center;
  color: white;
}

.hiddenplaces h1 {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}

#download {
  color: aquamarine;
  font-size: 16px;
}


video {
    object-fit: contain;
}

.travelguide {
  font-family: verdana;
  font-weight: 300px;
  font-size: 42px;
}

.excursionremembers {
  font-family: verdana;
  color: gray;
  font-size: 21px;
}

.comingsoon {
  font-family: verdana;
  font-weight: 300px;
  font-size: 42px;
}
